%h1 Listing items

%table
  %thead
    %tr
      %th Title
      %th Descr
      %th Due
      %th Int
      %th
      %th
      %th

  %tbody
    - @items.each do |item|
      %tr
        %td= item.title
        %td= item.descr
        %td= item.due
        %td= item.int
        %td= link_to 'Show', item_url(item, format: :json), remote: true, class: 'item_show'
        %td= link_to 'Edit', edit_item_path(item)
        %td= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }

%br

%div#item_show_div

= link_to 'New Item', new_item_path
