%p#notice= notice

%p
  %b Title:
  = @item.title
%p
  %b Descr:
  = @item.descr
%p
  %b Due:
  = @item.due
%p
  %b Int:
  = @item.int

= link_to 'Edit', edit_item_path(@item)
\|
= link_to 'Back', items_path
